@import './scss/shelf';
@import './scss/beta';

body {
  background-color: #f1f1f1;
}

#boulder-container {
  position: relative;
}

.single-hold {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid yellow;
  position: absolute;
  z-index: 2;
}

.single-hold.active {
  border-width: 3px;
  z-index: 1;
}

.detail-container {
  height: 200px;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 70px;
  background-color: #fff;
  display: none;
  &.active {
    display: block;
    z-index: 1;
  }
  &.hang-from-top {
    bottom: -120px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
}

.beta {
  height: 200px;
  width: 760px;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  padding: 1em 2em;
  background-color: #fff;
  h3 {
    margin-top: 0;
  }
  p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6em;
    font-family: Georgia;
  }
}

.shelf-outer-wrapper {
  position: fixed;
  width: 1200px;
  height: 0;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}
