#beta a{
  text-decoration: none;
  color: #000;
  &.active {
    color: rgb(255,255,50);
  }
}

span.highlighted {
  border: 3px solid yellow;
}

.selected-beta {
  background-color: rgb(255,255,150) !important;
}
