.route-list {
  background-color: #fff;
  width: 400px;
  min-height: 300px;
  margin-top: 6.5px;
  list-style-type: none;
  font-size: 1.4em;
  padding: 1em;
  a {
    text-decoration: none;
    color: #444;
  }
  li {
    padding-bottom: .25em;
  }
}

.selection-wrapper {
  min-height: 100vh;
  background-size: cover;
  h1 {
    color: #fff;
  }
}
