#detail-shelf {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  font-family: monospace, arial, sans-serif;
  font-size: 13px;
}

.boulder-name {
    margin-top: 2em;
    background-color: #fff;
    padding: 0 2em;
    height: 2.83em;
    h2 {
      margin: 0;
    }
    a {
      color: #888888;
      text-decoration: none;
    }
}

.zoom-pic, .route-list {
  width: 300px;
  min-height: 200px;
  height: 415px;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  img {
    width: 100%;
  }
}

.no-hold {
  font-family: monospace;
  font-size: 1.6em;
  padding: 14px;
}

.description {
  background-color: #fff;
  margin-top: .5em;
  padding: 1em;
  flex: 1;
}

.descriptor-label {
  font-weight: bold;
}

.shelf-outer-wrapper {
  position: fixed;
  width: 1200px;
  height: 0;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.shelf-inner-wrapper {
  display: flex;
  flex-direction: column;
  height: 574px;
  padding-top: .5em;

  h1 {
    height: 1.41em;
    line-height: 1.41em;
    margin-top: .75em;
    margin-bottom: 0;
    background-color: #fff;
    padding: 0 1em;
  }
}
