.boulder-name {
    margin-top: 2em;
    background-color: #fff;
    padding: 0 2em;
    height: 2.83em;
    h2 {
      margin: 0;
    }
    a {
      color: #888888;
      text-decoration: none;
    }
}

.zoom-pic, .route-list {
  width: 300px;
  min-height: 200px;
  height: 415px;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  img {
    width: 100%;
  }
}

.no-hold {
  font-family: monospace;
  font-size: 1.6em;
  padding: 14px;
}

.description {
  background-color: #fff;
  margin-top: .5em;
  padding: 1em;
  flex: 1;
}
